save-exact=true

# devido a mudança de dependencias esse comando tem o intuito de fazer com que alguns mecanimos faça a atualização automatica das depedencias além de tirar as flags
# de atualização de dentro do package.json
# além disso ele salvara a versão exata dentro do package.json.
